# <center> Privatization Index

## First Step: Economics Indexes

List of indexes:

 

1. <font color='green' > تورم </font>
2. نوسانات تورم
3. نرخ بهره واقعی  
4. نوسانات نرخ ارز
5. <font color='green' >  رشد اقتصاد </font>
6. کانال بودجه‌ای دخالت دولت در بنگاه‌داری
7. امتیاز پایش محیط کسب و کار در ایران**
8. عملکرد دستگاه‌های اجرایی مرتبط با محیط کسب و کار**
9. میزان سرمایه‌گذاری خارجی
10. میزان تامین مالی از سرمایه خارجی
11. میزان تامین مالی از بازار سرمایه
12. عمق بازار سرمایه
13. نسبت ارزش واگذاری‌ها به صورت رد دیون به ارزش کل واگذاری‌ها در هر سال**

## Big picture Formula

$$ \left\lvert \frac{worth \space\space performances - x}{worth \space\space performance - best \space\space performances \space\space} \right\lvert $$

#### Imports

In [5]:
import numpy as np
import pandas as pd
from pandas_datareader import wb
import matplotlib.pyplot as plt

#### Testing formulas

In [165]:
inflation = wb.download(country='all',indicator= "FP.CPI.TOTL.ZG", start=2019 ,end = 2019)

In [166]:
inflation = inflation.unstack().reset_index()

In [168]:
#inflation.drop(['level_0', 'year',],axis = 1, inplace=True)

In [174]:
#inflation.columns

In [170]:
inflation.columns = ['name', 'inflation']

In [172]:
inflation.set_index('name', inplace=True)

In [63]:
country_name = wb.get_countries()

In [65]:
country_name['name2'] = country_name.name

In [66]:
country_name = country_name.set_index('name')

In [67]:
country_name = country_name[country_name.incomeLevel != "Aggregates"]

In [175]:
inflation = inflation.join(country_name, how='inner').drop(list(inflation.join(country_name, how='inner').columns[1:]), axis = 1).dropna()

In [176]:
sort_inflation = inflation.sort_values('inflation', ascending=False)

In [218]:
max_10 = sort_inflation.iloc[0:10]
#max_10.head(10)

In [219]:
#sort_inflation.iloc[0:20]

In [220]:
min_10 = sort_inflation.iloc[-10:]
#min_10.head(10)

In [221]:
mean_max = max_10.mean()
#print(mean_max)

In [222]:
mean_min = min_10.mean()
#print(mean_min)

In [223]:
iran_inflation=inflation[inflation.index == 'Iran, Islamic Rep.']
#print(iran_inflation)

In [204]:
abs(((mean_min - iran_inflation)) / (mean_max - mean_min) * 100).iloc[0][0]

76.54813541278564

### Finaly function

In [92]:
def cleaning_cal(df):
    global sort_df,max_10,min_10,mean_max,mean_min,iran_df,output
    df = df.unstack().reset_index()
    df.columns = ['name', 'inflation']
    df.set_index('name', inplace=True)
    
    country_name = wb.get_countries()
    country_name['name2'] = country_name.name
    country_name = country_name.set_index('name')
    country_name = country_name[country_name.incomeLevel != "Aggregates"]
    
    
    df = df.join(country_name, how='inner').drop(list(df.join(country_name, how='inner').columns[1:]), axis = 1).dropna()
    sort_df = df.sort_values('inflation', ascending=False)
    
    max_10 = sort_df.iloc[0:10]
    min_10 = sort_df.iloc[-10:]
    
    mean_max = max_10.mean()
    mean_min = min_10.mean()
    
    iran_df=df[df.index == 'Iran, Islamic Rep.']
    output =  abs(((mean_min - iran_df)) / (mean_max - mean_min) * 100).iloc[0][0]
    return output

In [93]:
df = wb.download(country='all',indicator= "FP.CPI.TOTL.ZG", start=2019 ,end = 2019)

In [94]:
cleaning_cal(df)

76.54813541278564

In [97]:
sort_df.tail()

                      inflation
name
Kiribati              -1.813080
United Arab Emirates  -1.931081
Saudi Arabia          -2.093333
Niger                 -2.489793
Burkina Faso          -3.233389

## Indicators

### 1. تورم

In [269]:
# CPI for 2019
df = wb.download(country='all',indicator= "FP.CPI.TOTL.ZG", start=2019 ,end = 2019)

In [266]:
cleaning_cal(df)

76.54813541278564

### 2.  انحراف معیار تورم سالانه

In [98]:
# std CPI for 2019
df = wb.download(country='all',indicator= "FP.CPI.TOTL.ZG", start=2017 ,end = 2019).unstack()

In [99]:
df

                            FP.CPI.TOTL.ZG
year                                  2017       2018        2019
country
Afghanistan                       4.975952   0.626149    2.302373
Africa Eastern and Southern       6.399343   4.720811    4.124351
Africa Western and Central        1.764635   1.784050    1.758565
Albania                           2.060598   2.028060    1.411091
Algeria                           5.591116   4.269990    1.951768
...                                    ...        ...         ...
West Bank and Gaza                0.212571  -0.195108    1.580183
World                             2.192010   2.438737    2.206073
Yemen, Rep.                            NaN        NaN         NaN
Zambia                            6.577312   7.494572    9.150316
Zimbabwe                          0.893962  10.618866  255.304991

[266 rows x 3 columns]

In [100]:
df.columns = [2017,2018,2019]

In [103]:
df

                                 2017       2018        2019
country
Afghanistan                  4.975952   0.626149    2.302373
Africa Eastern and Southern  6.399343   4.720811    4.124351
Africa Western and Central   1.764635   1.784050    1.758565
Albania                      2.060598   2.028060    1.411091
Algeria                      5.591116   4.269990    1.951768
...                               ...        ...         ...
West Bank and Gaza           0.212571  -0.195108    1.580183
World                        2.192010   2.438737    2.206073
Yemen, Rep.                       NaN        NaN         NaN
Zambia                       6.577312   7.494572    9.150316
Zimbabwe                     0.893962  10.618866  255.304991

[266 rows x 3 columns]

In [104]:
df['inflation'] = df.mean(axis = 1)

In [105]:
sort_df = df.sort_values('inflation', ascending=False)
sort_df.head(10)

                          2017       2018        2019   inflation
country
South Sudan         187.851630  83.501529   87.241364  119.531508
Zimbabwe              0.893962  10.618866  255.304991   88.939273
Sudan                32.351626  63.292507   50.994052   48.879395
Angola               29.843587  19.628608   17.081215   22.184470
Suriname             21.996943        NaN         NaN   21.996943
Iran, Islamic Rep.    8.044924  18.014118   39.907346   21.988796
Liberia              12.419632  23.563515         NaN   17.991574
Egypt, Arab Rep.     29.506608  14.401466    9.152800   17.686958
Sierra Leone         18.219809  16.032790   14.803059   16.351886
Turkey               11.144311  16.332464   15.176822   14.217866

In [106]:
max_10 = list(sort_df.iloc[0:10].index)
max_10

['South Sudan',
 'Zimbabwe',
 'Sudan',
 'Angola',
 'Suriname',
 'Iran, Islamic Rep.',
 'Liberia',
 'Egypt, Arab Rep.',
 'Sierra Leone',
 'Turkey']

In [110]:
sort_df.dropna().iloc[-15:]

                         2017      2018      2019  inflation
country
Benin                1.769412  0.644804 -0.705027   0.569730
West Bank and Gaza   0.212571 -0.195108  1.580183   0.532549
Singapore            0.576260  0.438620  0.565261   0.526714
Panama               0.875586  0.761578 -0.355084   0.427360
Togo                -0.980289  0.928171  0.685898   0.211260
Ecuador              0.417336 -0.224103  0.266013   0.153082
Mali                 1.759857  0.299547 -1.658267   0.133712
Iraq                 0.184059  0.367441 -0.198965   0.117512
Burkina Faso         1.482999  1.955943 -3.233389   0.068518
Qatar                0.394879  0.255815 -0.666641  -0.005316
Cote d'Ivoire        0.685881  0.359409 -1.106863  -0.020524
Saudi Arabia        -0.838195  2.458142 -2.093333  -0.157795
Brunei Darussalam   -1.260506  1.025052 -0.390522  -0.208659
St. Kitts and Nevis  0.694917 -1.037122 -0.329562  -0.223922
Kiribati             0.355521  0.564030 -1.813080  -0.297843

In [109]:
min_10 = list(sort_df.dropna().iloc[-10:].index)
min_10

['Ecuador',
 'Mali',
 'Iraq',
 'Burkina Faso',
 'Qatar',
 "Cote d'Ivoire",
 'Saudi Arabia',
 'Brunei Darussalam',
 'St. Kitts and Nevis',
 'Kiribati']

In [354]:
df['FP.CPI.TOTL.ZG']['2018'] = np.nan

In [355]:
df

                   FP.CPI.TOTL.ZG
year                         2017 2018       2019
country
Iran, Islamic Rep.       8.044924  NaN  39.907346

In [365]:
for i in df.isna()['FP.CPI.TOTL.ZG']:
    print(df.isna()['FP.CPI.TOTL.ZG'][i][0])
    if df.isna()['FP.CPI.TOTL.ZG'][i][0] == True:
        break

False
True

In [281]:
df = df.unstack()

In [283]:
df.columns = [2017,2018,2019]

In [284]:
df

                        2017       2018       2019
country
Iran, Islamic Rep.  8.044924  18.014118  39.907346

In [286]:
import math

In [287]:
def variance(data, ddof=0):
    n = len(data)
    mean = sum(data) / n
    return sum((x - mean) ** 2 for x in data) / (n - ddof)

In [288]:
def stdev(data):
    var = variance(data)
    std_dev = math.sqrt(var)
    return std_dev

In [294]:
inflation_list = [df[2017][0],df[2018][0],df[2019][0]]
inflation_list

[8.04492437660281, 18.0141183371874, 39.9073455697783]

In [296]:
inflation_list2 = [df[i][0] for i in df.columns]
inflation_list2

[8.04492437660281, 18.0141183371874, 39.9073455697783]

In [300]:
#country_name

In [309]:
dfnew = pd.DataFrame(index=country_name.iso3c)
dfnew['stand'] = np.nan
dfnew.head()

       stand
iso3c
ABW      NaN
AFG      NaN
AGO      NaN
ALB      NaN
AND      NaN

In [389]:
nn = country_name.reset_index()

In [391]:
nn[nn.iso3c == 'TUV']

,name,iso3c,iso2c,region,adminregion,incomeLevel,lendingType,capitalCity,longitude,latitude,name2
198,Tuvalu,TUV,TV,East Asia & Pacific,East Asia & Pacific (excluding high income),Upper middle income,IDA,Funafuti,179.089567,-8.631488,Tuvalu

In [399]:
nn.iloc[199]

name                 Taiwan, China
iso3c                          TWN
iso2c                           TW
region         East Asia & Pacific
adminregion
incomeLevel            High income
lendingType         Not classified
capitalCity
longitude                      NaN
latitude                       NaN
name2                Taiwan, China
Name: 199, dtype: object

In [403]:
country_name.iso3c[::-1]

name
Zimbabwe        ZWE
Zambia          ZMB
South Africa    ZAF
Yemen, Rep.     YEM
Kosovo          XKX
               ...
Andorra         AND
Albania         ALB
Angola          AGO
Afghanistan     AFG
Aruba           ABW
Name: iso3c, Length: 218, dtype: object

In [1]:
# #num = 1
# for i in country_name.iso3c[::-1]:
#     print(i)
#     if i == 'CHI':
#         continue
#     if i == 'TWN':
#         continue   
#     df = wb.download(country=i,indicator= "FP.CPI.TOTL.ZG", start=2017 ,end = 2019).unstack()
    
#     #for b in df.isna()['FP.CPI.TOTL.ZG']:
#         #print(df.isna()['FP.CPI.TOTL.ZG'][b][0])
#     #    if df.isna()['FP.CPI.TOTL.ZG'][b][0] == True:
#     #        break

#     inflation_list2 = [df[j][0] for j in df.columns]
#     stdd = stdev(inflation_list)
#     dfnew.loc[i,'stand'] = stdd
#     #print(i)

In [411]:
dfnew

       stand
iso3c
ABW      NaN
AFG      NaN
AGO      NaN
ALB      NaN
AND      NaN
...      ...
XKX      NaN
YEM      NaN
ZAF      NaN
ZMB      NaN
ZWE      NaN

[218 rows x 1 columns]

In [295]:
stdev(inflation_list)

13.307942954712484

### 2.2. نوسانات تورم ماهانه

### 3. نرخ بهره واقعی

### 4. نوسانات نرخ ارز

### 5. رشد اقتصاد

In [2]:
def cleaning_cal(df):
    df = df.unstack().reset_index()
    df.columns = ['name', 'inflation']
    df.set_index('name', inplace=True)
    
    country_name = wb.get_countries()
    country_name['name2'] = country_name.name
    country_name = country_name.set_index('name')
    country_name = country_name[country_name.incomeLevel != "Aggregates"]
    
    
    df = df.join(country_name, how='inner').drop(list(df.join(country_name, how='inner').columns[1:]), axis = 1).dropna()
    sort_df = df.sort_values('inflation', ascending=False)
    
    max_10 = sort_df.iloc[0:10]
    min_10 = sort_df.iloc[-10:]
    
    mean_max = max_10.mean()
    mean_min = min_10.mean()
    
    iran_df=df[df.index == 'Iran, Islamic Rep.']
    output =  abs(((mean_min - iran_df)) / (mean_max - mean_min) * 100).iloc[0][0]
    return output

In [76]:
df = wb.download(country='all',indicator= "NY.GDP.MKTP.KD.ZG", start=2016 ,end = 2020)

In [77]:
df = df.unstack().reset_index()

In [11]:
df.columns = ['country', 2016, 2017, 2018, 2019 , 2020]

In [16]:
df['ave'] = df.mean(axis = 1)

In [ ]:
df = df[['country','ave']]

In [ ]:
df.set_index('country', inplace=True)

In [55]:
df.head()

                  ave
country
Guyana      12.163098
Ethiopia     8.046905
Guinea       8.022770
Bangladesh   6.784645
Tajikistan   6.700000

In [49]:
country_name = wb.get_countries()
country_name['name2'] = country_name.name
country_name = country_name.set_index('name')
country_name = country_name[country_name.incomeLevel != "Aggregates"]

In [69]:
df = df.join(country_name, how='inner').drop(list(df.join(country_name, how='inner').columns[1:]), axis = 1).dropna().sort_values('ave', ascending=False)

In [70]:
df

                         ave
Guyana             12.163098
Ethiopia            8.046905
Guinea              8.022770
Bangladesh          6.784645
Tajikistan          6.700000
...                      ...
Curacao            -5.338493
Lebanon            -5.591924
Congo, Rep.        -5.600490
Equatorial Guinea  -6.318553
Macao SAR, China   -8.150904

[206 rows x 1 columns]

In [73]:
max_10 = df.iloc[0:10]
min_10 = df.iloc[-10:]

mean_max = max_10.mean()
mean_min = min_10.mean()

iran_df=df[df.index == 'Iran, Islamic Rep.']
output =  abs(((mean_min - iran_df)) / (mean_max - mean_min) * 100).iloc[0][0]
print(output)

53.160515642277225

In [75]:
print(max_10)
print("")
print(min_10)
print("")
print(mean_max)
print("")
print(mean_min)
print("")
print(iran_df)
print("")
print(output)

                     ave
Guyana         12.163098
Ethiopia        8.046905
Guinea          8.022770
Bangladesh      6.784645
Tajikistan      6.700000
Myanmar         6.517411
Turkmenistan    6.300000
Ireland         6.159278
Vietnam         6.004423
Cote d'Ivoire   5.923834

                                ave
Palau                     -3.021607
Barbados                  -3.340434
Trinidad and Tobago       -3.524695
Sint Maarten (Dutch part) -3.966667
Yemen, Rep.               -4.564824
Curacao                   -5.338493
Lebanon                   -5.591924
Congo, Rep.               -5.600490
Equatorial Guinea         -6.318553
Macao SAR, China          -8.150904

ave    7.262236
dtype: float64

ave   -4.941859
dtype: float64

                         ave
Iran, Islamic Rep.  1.545901

53.160515642277225

### 5. میزان سرمایه‌گذاری خارجی

In [41]:
def cleaning_cal(df):
    global sort_df,max_10,min_10,mean_max,mean_min,iran_df,output
    df = df.unstack().reset_index()
    df.columns = ['name', 'fore_invest']
    df.set_index('name', inplace=True)
    
    country_name = wb.get_countries()
    country_name['name2'] = country_name.name
    country_name = country_name.set_index('name')
    country_name = country_name[country_name.incomeLevel != "Aggregates"]
    
    
    df = df.join(country_name, how='inner').drop(list(df.join(country_name, how='inner').columns[1:]), axis = 1).dropna()
    sort_df = df.sort_values('fore_invest', ascending=False)
    
    max_10 = sort_df.iloc[0:10]
    min_10 = sort_df.iloc[-10:]
    
    mean_max = max_10.mean()
    mean_min = min_10.mean()
    
    iran_df=df[df.index == 'Iran, Islamic Rep.']
    output =  abs(((mean_min - iran_df)) / (mean_max - mean_min) * 100).iloc[0][0]
    return output

In [40]:
df = wb.download(country='all',indicator= "BX.KLT.DINV.WD.GD.ZS", start=2020 ,end = 2020)

In [42]:
cleaning_cal(df)

12.425884772496989

In [44]:
len(sort_df)

186

In [45]:
print(max_10)
print("")
print(min_10)
print("")
print(mean_max)
print("")
print(mean_min)
print("")
print(iran_df)
print("")
print(output)

                      fore_invest
name
Cayman Islands         422.436323
Hungary                108.420498
Luxembourg              84.719809
Congo, Rep.             39.417721
Hong Kong SAR, China    33.888364
Malta                   29.951356
Singapore               25.719273
Mozambique              22.739430
Guyana                  21.831959
Seychelles              16.521594

                  fore_invest
name
Angola              -3.197322
Belgium             -3.366918
Papua New Guinea    -3.792198
Panama              -3.991946
Austria             -4.204125
Iceland             -4.725472
Kyrgyz Republic     -5.190277
Netherlands        -16.339568
Macao SAR, China   -27.764945
Switzerland        -34.208963

fore_invest    80.564633
dtype: float64

fore_invest   -10.678174
dtype: float64

                    fore_invest
name
Iran, Islamic Rep.     0.659552

12.425884772496989

### 6. عمق بازار سرمایه

In [49]:
def cleaning_cal(df):
    global sort_df,max_10,min_10,mean_max,mean_min,iran_df,output
    df = df.unstack().reset_index()
    df.columns = ['name', 'market_depth']
    df.set_index('name', inplace=True)
    
    country_name = wb.get_countries()
    country_name['name2'] = country_name.name
    country_name = country_name.set_index('name')
    country_name = country_name[country_name.incomeLevel != "Aggregates"]
    
    
    df = df.join(country_name, how='inner').drop(list(df.join(country_name, how='inner').columns[1:]), axis = 1).dropna()
    sort_df = df.sort_values('market_depth', ascending=False)
    
    max_10 = sort_df.iloc[0:4]
    min_10 = sort_df.iloc[-4:]
    
    mean_max = max_10.mean()
    mean_min = min_10.mean()
    
    iran_df=df[df.index == 'Iran, Islamic Rep.']
    output =  abs(((mean_min - iran_df)) / (mean_max - mean_min) * 100).iloc[0][0]
    return output

In [47]:
df = wb.download(country='all',indicator= "CM.MKT.TRAD.GD.ZS", start=2020 ,end = 2020)

In [50]:
cleaning_cal(df)

55.287504847470395

In [39]:
len(sort_df)

65

In [51]:
print(max_10)
print("")
print(min_10)
print("")
print(mean_max)
print("")
print(mean_min)
print("")
print(iran_df)
print("")
print(output)

                      market_depth
name
Hong Kong SAR, China    885.598296
Korea, Rep.             316.912291
Iran, Islamic Rep.      227.285279
China                   214.502708

                market_depth
name
Ghana               0.047656
Tanzania            0.029675
Cayman Islands      0.023249
Belarus             0.010040

market_depth    411.074643
dtype: float64

market_depth    0.027655
dtype: float64

                    market_depth
name
Iran, Islamic Rep.    227.285279

55.287504847470395