In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df_base = pd.read_excel('/Users/saeed/Dropbox/Sharif Business Think Thank/خصوصی سازی/شرکت‌های مورد بررسی.xlsx',sheet_name=1)

In [3]:
df_base.head(2)

,ردیف,نام شرکت,نام نماد,سال خصوصی شده,لینک,Unnamed: 5,سال آخرین صورت مالی,سود (زيان) خالص,سود (زيان) عملياتي,مبلغ فروش,...,جمع حقوق مالکانه,جمع پرسنل,سود (زیان) انباشته,جمع بدهی‌ها,بدهی‌های بلند مدت,گردش مقداری فروش,مواد اولیه,هزینه نیروی کار,هزینه استهلاک,هزینه انرژی
0,1,آلومینیوم ایران (ایرالکو),فایرا,1397,https://codal.ir/ReportList.aspx?search&Symbol...,,1399.0,15702755.0,16632380.0,69373546.0,...,28277313.0,3401.0,17357417.0,21222643.0,2890559.0,43289469.0,37958139.0,2497102.0,477286.0,2371845.0
1,2,بازرسی کیفیت استاندارد ایران,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_base = df_base.iloc[0]

In [5]:
list(pd.read_excel('/Users/saeed/Dropbox/Sharif Business Think Thank/خصوصی سازی/شرکت‌های مورد بررسی.xlsx',sheet_name=1).columns)

['ردیف',
 'نام شرکت',
 'نام نماد',
 'سال خصوصی شده',
 'لینک',
 'Unnamed: 5',
 'سال آخرین صورت مالی',
 'سود (زيان) خالص',
 'سود (زيان) عملياتي',
 'مبلغ فروش',
 'درصد تغییر سود نسبت به سال قبل',
 'نرخ تورم',
 'جمع دارایی\u200cها',
 'جمع حقوق مالکانه',
 'جمع پرسنل',
 'سود (زیان) انباشته',
 'جمع بدهی\u200cها',
 'بدهی\u200cهای بلند مدت',
 'گردش مقداری فروش',
 'مواد اولیه',
 'هزینه نیروی کار',
 'هزینه استهلاک',
 'هزینه انرژی']

In [6]:
df_base

ردیف                                                                              1
نام شرکت                                                  آلومینیوم ایران (ایرالکو)
نام نماد                                                                      فایرا
سال خصوصی شده                                                                  1397
لینک                              https://codal.ir/ReportList.aspx?search&Symbol...
Unnamed: 5
سال آخرین صورت مالی                                                          1399.0
سود (زيان) خالص                                                          15702755.0
سود (زيان) عملياتي                                                       16632380.0
مبلغ فروش                                                                69373546.0
درصد تغییر سود نسبت به سال قبل                                                195.0
نرخ تورم                                                                      36.44
جمع دارایی‌ها                                                            49499956.0
جمع حقوق مالکانه                                                         28277313.0
جمع پرسنل                                                                    3401.0
سود (زیان) انباشته                                                       17357417.0
جمع بدهی‌ها                                                              21222643.0
بدهی‌های بلند مدت                                                         2890559.0
گردش مقداری فروش                                                         43289469.0
مواد اولیه                                                               37958139.0
هزینه نیروی کار                                                           2497102.0
هزینه استهلاک                                                              477286.0
هزینه انرژی                                                               2371845.0
Name: 0, dtype: object

In [7]:
df = df_base[[
    'نام شرکت',
             'سود (زيان) خالص'
]]

In [11]:
df['سود عملیاتی نسبت به فروش'] = df_base["سود (زيان) عملياتي"] / df_base['مبلغ فروش']
df['سودآوری نسبت به تورم'] = df_base['درصد تغییر سود نسبت به سال قبل'] - df_base['نرخ تورم']
df['سود خالص نسبت به مجموع دارایی‌ها'] = df_base['سود (زيان) خالص'] / df_base['جمع دارایی\u200cها']
df['سود خالص نسبت به حقوق صاحبان سهام'] = df_base['سود (زيان) خالص'] / df_base['جمع حقوق مالکانه']
df['سود خالص نسبت به فروش'] = df_base['سود (زيان) خالص'] / df_base['مبلغ فروش']
df['سود خالص نسبت به تعداد کارکنان'] = df_base['سود (زيان) خالص'] / df_base['جمع پرسنل']
df['سود (زیان) انباشته به حقوق صاحبان سهام'] = df_base["سود (زیان) انباشته"] / df_base['جمع حقوق مالکانه']

In [12]:
print(df)

نام شرکت                                  آلومینیوم ایران (ایرالکو)
سود (زيان) خالص                                          15702755.0
سود عملیاتی نسبت به فروش                                   0.239751
سودآوری نسبت به تورم                                         158.56
سود خالص نسبت به مجموع دارایی‌ها                           0.317228
سود خالص نسبت به حقوق صاحبان سهام                          0.555313
سود خالص نسبت به فروش                                      0.226351
سود خالص نسبت به تعداد کارکنان                          4617.099383
سود (زیان) انباشته به حقوق صاحبان سهام                     0.613828
Name: 0, dtype: object