In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [27]:
df_base = pd.read_excel('/Users/saeed/Dropbox/Sharif Business Think Thank/خصوصی سازی/شرکت‌های مورد بررسی.xlsx',sheet_name=1)

In [28]:
df_base.head(2)

,ردیف,نام شرکت,نام نماد,سال خصوصی شده,لینک,Unnamed: 5,سال آخرین صورت مالی,سود (زيان) خالص,سود (زيان) عملياتي,مبلغ فروش,...,جمع حقوق مالکانه,جمع پرسنل,سود (زیان) انباشته,جمع بدهی‌ها,بدهی‌های بلند مدت,گردش مقداری فروش,مواد اولیه,هزینه نیروی کار,هزینه استهلاک,هزینه انرژی
0,1.0,آلومینیوم ایران (ایرالکو),فایرا,1397,https://codal.ir/ReportList.aspx?search&Symbol...,,1399.0,15702755.0,16632380.0,69373546.0,...,28277313.0,3401.0,17357417.0,20890809.0,2883819.0,43289469.0,37958139.0,2497102.0,477286.0,2371845.0
1,NaN,آلومینیوم ایران (ایرالکو),فایرا,NaN,NaN,NaN,1398.0,5318936.0,6886233.0,38377998.0,...,13616424.0,3310.0,7910973.0,18190925.0,2271248.0,29883606.0,24069618.0,1909611.0,457147.0,2035171.0

In [29]:
df_base = pd.DataFrame(df_base.iloc[0:2])

In [5]:
list(pd.read_excel('/Users/saeed/Dropbox/Sharif Business Think Thank/خصوصی سازی/شرکت‌های مورد بررسی.xlsx',sheet_name=1).columns)

['ردیف',
 'نام شرکت',
 'نام نماد',
 'سال خصوصی شده',
 'لینک',
 'Unnamed: 5',
 'سال آخرین صورت مالی',
 'سود (زيان) خالص',
 'سود (زيان) عملياتي',
 'مبلغ فروش',
 'درصد تغییر سود نسبت به سال قبل',
 'نرخ تورم',
 'جمع دارایی\u200cها',
 'جمع حقوق مالکانه',
 'جمع پرسنل',
 'سود (زیان) انباشته',
 'جمع بدهی\u200cها',
 'بدهی\u200cهای بلند مدت',
 'گردش مقداری فروش',
 'مواد اولیه',
 'هزینه نیروی کار',
 'هزینه استهلاک',
 'هزینه انرژی']

In [30]:
df_base

,ردیف,نام شرکت,نام نماد,سال خصوصی شده,لینک,Unnamed: 5,سال آخرین صورت مالی,سود (زيان) خالص,سود (زيان) عملياتي,مبلغ فروش,...,جمع حقوق مالکانه,جمع پرسنل,سود (زیان) انباشته,جمع بدهی‌ها,بدهی‌های بلند مدت,گردش مقداری فروش,مواد اولیه,هزینه نیروی کار,هزینه استهلاک,هزینه انرژی
0,1.0,آلومینیوم ایران (ایرالکو),فایرا,1397,https://codal.ir/ReportList.aspx?search&Symbol...,,1399.0,15702755.0,16632380.0,69373546.0,...,28277313.0,3401.0,17357417.0,20890809.0,2883819.0,43289469.0,37958139.0,2497102.0,477286.0,2371845.0
1,NaN,آلومینیوم ایران (ایرالکو),فایرا,NaN,NaN,NaN,1398.0,5318936.0,6886233.0,38377998.0,...,13616424.0,3310.0,7910973.0,18190925.0,2271248.0,29883606.0,24069618.0,1909611.0,457147.0,2035171.0

In [7]:
names = ['نام شرکت',
 'سود (زيان) خالص',
 'سود عملیاتی نسبت به فروش',
 'سودآوری نسبت به تورم',
 'سود خالص نسبت به مجموع دارایی\u200cها',
 'سود خالص نسبت به حقوق صاحبان سهام',
 'سود خالص نسبت به فروش',
 'سود خالص نسبت به تعداد کارکنان',
 'سود (زیان) انباشته به حقوق صاحبان سهام',
 'نسبت بدهی کل به دارایی کل',
 'نسبت بدهی\u200cهای بلندمدت به حقوق صاحبان سهام',
 'نسبت ارزش افزوده به کل داده با کسر مصارف واسطه',
 'نسبت ارزش افزوده به هزینه کل نیروی کار',
 'نسبت ارزش افزوده به هزینه استفاده از سرمایه',
 'نسبت ارزش افزوده به هزینه انرژی مصرف\u200cشده',
 'نسبت ارزش افزوده به هزینه مواد اولیه']
names

['نام شرکت',
 'سود (زيان) خالص',
 'سود عملیاتی نسبت به فروش',
 'سودآوری نسبت به تورم',
 'سود خالص نسبت به مجموع دارایی\u200cها',
 'سود خالص نسبت به حقوق صاحبان سهام',
 'سود خالص نسبت به فروش',
 'سود خالص نسبت به تعداد کارکنان',
 'سود (زیان) انباشته به حقوق صاحبان سهام',
 'نسبت بدهی کل به دارایی کل',
 'نسبت بدهی\u200cهای بلندمدت به حقوق صاحبان سهام',
 'نسبت ارزش افزوده به کل داده با کسر مصارف واسطه',
 'نسبت ارزش افزوده به هزینه کل نیروی کار',
 'نسبت ارزش افزوده به هزینه استفاده از سرمایه',
 'نسبت ارزش افزوده به هزینه انرژی مصرف\u200cشده',
 'نسبت ارزش افزوده به هزینه مواد اولیه']

In [31]:
df = pd.DataFrame(np.nan, index=df_base.index, columns=names)
df

,نام شرکت,سود (زيان) خالص,سود عملیاتی نسبت به فروش,سودآوری نسبت به تورم,سود خالص نسبت به مجموع دارایی‌ها,سود خالص نسبت به حقوق صاحبان سهام,سود خالص نسبت به فروش,سود خالص نسبت به تعداد کارکنان,سود (زیان) انباشته به حقوق صاحبان سهام,نسبت بدهی کل به دارایی کل,نسبت بدهی‌های بلندمدت به حقوق صاحبان سهام,نسبت ارزش افزوده به کل داده با کسر مصارف واسطه,نسبت ارزش افزوده به هزینه کل نیروی کار,نسبت ارزش افزوده به هزینه استفاده از سرمایه,نسبت ارزش افزوده به هزینه انرژی مصرف‌شده,نسبت ارزش افزوده به هزینه مواد اولیه
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
df.loc[:, 'نام شرکت'] = df_base.loc[:, 'نام شرکت']
df.loc[:, 'سود (زيان) خالص'] = df_base.loc[:, 'سود (زيان) خالص']

df['سود عملیاتی نسبت به فروش'] = df_base["سود (زيان) عملياتي"] / df_base['مبلغ فروش']
df['سودآوری نسبت به تورم'] = df_base['درصد تغییر سود نسبت به سال قبل'] - df_base['نرخ تورم']
df['سود خالص نسبت به مجموع دارایی‌ها'] = df_base['سود (زيان) خالص'] / df_base['جمع دارایی\u200cها']
df['سود خالص نسبت به حقوق صاحبان سهام'] = df_base['سود (زيان) خالص'] / df_base['جمع حقوق مالکانه']
df['سود خالص نسبت به فروش'] = df_base['سود (زيان) خالص'] / df_base['مبلغ فروش']
df['سود خالص نسبت به تعداد کارکنان'] = df_base['سود (زيان) خالص'] / df_base['جمع پرسنل']
df['سود (زیان) انباشته به حقوق صاحبان سهام'] = df_base["سود (زیان) انباشته"] / df_base['جمع حقوق مالکانه']
df['نسبت بدهی کل به دارایی کل'] = df_base['جمع بدهی‌ها'] / df_base['جمع دارایی‌ها']
df['نسبت بدهی‌های بلندمدت به حقوق صاحبان سهام'] = df_base["بدهی‌های بلند مدت"] / df_base['جمع حقوق مالکانه']
# ارزش‌افزوده => df_base['گردش مقداری فروش'] - df_base['مواد اولیه']
df['نسبت ارزش افزوده به کل داده با کسر مصارف واسطه'] = (df_base['گردش مقداری فروش'] - df_base['مواد اولیه']) / df_base["مبلغ فروش"]
df['نسبت ارزش افزوده به هزینه کل نیروی کار'] = (df_base['گردش مقداری فروش'] - df_base['مواد اولیه']) / df_base["هزینه نیروی کار"]
df['نسبت ارزش افزوده به هزینه استفاده از سرمایه'] = (df_base['گردش مقداری فروش'] - df_base['مواد اولیه']) / df_base["هزینه استهلاک"]
df["نسبت ارزش افزوده به هزینه انرژی مصرف‌شده"] = (df_base['گردش مقداری فروش'] - df_base['مواد اولیه']) / df_base["هزینه انرژی"]
df['نسبت ارزش افزوده به هزینه مواد اولیه'] = (df_base['گردش مقداری فروش'] - df_base['مواد اولیه']) / df_base['مواد اولیه']

df

,نام شرکت,سود (زيان) خالص,سود عملیاتی نسبت به فروش,سودآوری نسبت به تورم,سود خالص نسبت به مجموع دارایی‌ها,سود خالص نسبت به حقوق صاحبان سهام,سود خالص نسبت به فروش,سود خالص نسبت به تعداد کارکنان,سود (زیان) انباشته به حقوق صاحبان سهام,نسبت بدهی کل به دارایی کل,نسبت بدهی‌های بلندمدت به حقوق صاحبان سهام,نسبت ارزش افزوده به کل داده با کسر مصارف واسطه,نسبت ارزش افزوده به هزینه کل نیروی کار,نسبت ارزش افزوده به هزینه استفاده از سرمایه,نسبت ارزش افزوده به هزینه انرژی مصرف‌شده,نسبت ارزش افزوده به هزینه مواد اولیه
0,آلومینیوم ایران (ایرالکو),15702755.0,0.239751,158.56,0.317228,0.555313,0.226351,4617.099383,0.613828,0.422037,0.101983,0.076850,2.135007,11.170095,2.247756,0.140453
1,آلومینیوم ایران (ایرالکو),5318936.0,0.179432,NaN,0.167223,0.390626,0.138593,1606.929305,0.580988,0.571909,0.166802,0.151493,3.044593,12.717983,2.856757,0.241549