# <center> Privatization Index

## First Step: Economics Indexes

List of indexes:

 

1. <font color='green' > تورم </font>
2. نوسانات تورم
3. نرخ بهره واقعی  
4. نوسانات نرخ ارز
5. <font color='green' >  رشد اقتصاد </font>
6. کانال بودجه‌ای دخالت دولت در بنگاه‌داری
7. امتیاز پایش محیط کسب و کار در ایران**
8. عملکرد دستگاه‌های اجرایی مرتبط با محیط کسب و کار**
9. میزان سرمایه‌گذاری خارجی
10. میزان تامین مالی از سرمایه خارجی
11. میزان تامین مالی از بازار سرمایه
12. عمق بازار سرمایه
13. نسبت ارزش واگذاری‌ها به صورت رد دیون به ارزش کل واگذاری‌ها در هر سال**

## Big picture Formula

$$ \left\lvert \frac{worth \space\space performances - x}{worth \space\space performance - best \space\space performances \space\space} \right\lvert $$

#### Imports

In [2]:
import numpy as np
import pandas as pd
from pandas_datareader import wb
import matplotlib.pyplot as plt

#### Testing formulas

In [165]:
inflation = wb.download(country='all',indicator= "FP.CPI.TOTL.ZG", start=2019 ,end = 2019)

In [166]:
inflation = inflation.unstack().reset_index()

In [168]:
#inflation.drop(['level_0', 'year',],axis = 1, inplace=True)

In [174]:
#inflation.columns

In [170]:
inflation.columns = ['name', 'inflation']

In [172]:
inflation.set_index('name', inplace=True)

In [63]:
country_name = wb.get_countries()

In [65]:
country_name['name2'] = country_name.name

In [66]:
country_name = country_name.set_index('name')

In [67]:
country_name = country_name[country_name.incomeLevel != "Aggregates"]

In [175]:
inflation = inflation.join(country_name, how='inner').drop(list(inflation.join(country_name, how='inner').columns[1:]), axis = 1).dropna()

In [176]:
sort_inflation = inflation.sort_values('inflation', ascending=False)

In [218]:
max_10 = sort_inflation.iloc[0:10]
#max_10.head(10)

In [219]:
#sort_inflation.iloc[0:20]

In [220]:
min_10 = sort_inflation.iloc[-10:]
#min_10.head(10)

In [221]:
mean_max = max_10.mean()
#print(mean_max)

In [222]:
mean_min = min_10.mean()
#print(mean_min)

In [223]:
iran_inflation=inflation[inflation.index == 'Iran, Islamic Rep.']
#print(iran_inflation)

In [204]:
abs(((mean_min - iran_inflation)) / (mean_max - mean_min) * 100).iloc[0][0]

76.54813541278564

### Finaly function

In [216]:
def cleaning_cal(df):
    df = df.unstack().reset_index()
    df.columns = ['name', 'inflation']
    df.set_index('name', inplace=True)
    
    country_name = wb.get_countries()
    country_name['name2'] = country_name.name
    country_name = country_name.set_index('name')
    country_name = country_name[country_name.incomeLevel != "Aggregates"]
    
    
    df = df.join(country_name, how='inner').drop(list(df.join(country_name, how='inner').columns[1:]), axis = 1).dropna()
    sort_df = df.sort_values('inflation', ascending=False)
    
    max_10 = sort_df.iloc[0:10]
    min_10 = sort_df.iloc[-10:]
    
    mean_max = max_10.mean()
    mean_min = min_10.mean()
    
    iran_df=df[df.index == 'Iran, Islamic Rep.']
    output =  abs(((mean_min - iran_df)) / (mean_max - mean_min) * 100).iloc[0][0]
    return output

In [213]:
df = wb.download(country='all',indicator= "FP.CPI.TOTL.ZG", start=2019 ,end = 2019)

In [217]:
cleaning_cal(df)

76.54813541278564

## Indicators

### 1. تورم

In [269]:
# CPI for 2019
df = wb.download(country='all',indicator= "FP.CPI.TOTL.ZG", start=2019 ,end = 2019)

In [266]:
cleaning_cal(df)

76.54813541278564

### 2. انحراف معیار تورم

In [315]:
# std CPI for 2019
df = wb.download(country='IRN',indicator= "FP.CPI.TOTL.ZG", start=2017 ,end = 2019).unstack()

In [354]:
df['FP.CPI.TOTL.ZG']['2018'] = np.nan

In [355]:
df

                   FP.CPI.TOTL.ZG
year                         2017 2018       2019
country
Iran, Islamic Rep.       8.044924  NaN  39.907346

In [365]:
for i in df.isna()['FP.CPI.TOTL.ZG']:
    print(df.isna()['FP.CPI.TOTL.ZG'][i][0])
    if df.isna()['FP.CPI.TOTL.ZG'][i][0] == True:
        break

False
True

In [281]:
df = df.unstack()

In [283]:
df.columns = [2017,2018,2019]

In [284]:
df

                        2017       2018       2019
country
Iran, Islamic Rep.  8.044924  18.014118  39.907346

In [286]:
import math

In [287]:
def variance(data, ddof=0):
    n = len(data)
    mean = sum(data) / n
    return sum((x - mean) ** 2 for x in data) / (n - ddof)

In [288]:
def stdev(data):
    var = variance(data)
    std_dev = math.sqrt(var)
    return std_dev

In [294]:
inflation_list = [df[2017][0],df[2018][0],df[2019][0]]
inflation_list

[8.04492437660281, 18.0141183371874, 39.9073455697783]

In [296]:
inflation_list2 = [df[i][0] for i in df.columns]
inflation_list2

[8.04492437660281, 18.0141183371874, 39.9073455697783]

In [300]:
#country_name

In [309]:
dfnew = pd.DataFrame(index=country_name.iso3c)
dfnew['stand'] = np.nan
dfnew.head()

       stand
iso3c
ABW      NaN
AFG      NaN
AGO      NaN
ALB      NaN
AND      NaN

In [389]:
nn = country_name.reset_index()

In [391]:
nn[nn.iso3c == 'TUV']

,name,iso3c,iso2c,region,adminregion,incomeLevel,lendingType,capitalCity,longitude,latitude,name2
198,Tuvalu,TUV,TV,East Asia & Pacific,East Asia & Pacific (excluding high income),Upper middle income,IDA,Funafuti,179.089567,-8.631488,Tuvalu

In [399]:
nn.iloc[199]

name                 Taiwan, China
iso3c                          TWN
iso2c                           TW
region         East Asia & Pacific
adminregion
incomeLevel            High income
lendingType         Not classified
capitalCity
longitude                      NaN
latitude                       NaN
name2                Taiwan, China
Name: 199, dtype: object

In [403]:
country_name.iso3c[::-1]

name
Zimbabwe        ZWE
Zambia          ZMB
South Africa    ZAF
Yemen, Rep.     YEM
Kosovo          XKX
               ...
Andorra         AND
Albania         ALB
Angola          AGO
Afghanistan     AFG
Aruba           ABW
Name: iso3c, Length: 218, dtype: object

In [1]:
# #num = 1
# for i in country_name.iso3c[::-1]:
#     print(i)
#     if i == 'CHI':
#         continue
#     if i == 'TWN':
#         continue   
#     df = wb.download(country=i,indicator= "FP.CPI.TOTL.ZG", start=2017 ,end = 2019).unstack()
    
#     #for b in df.isna()['FP.CPI.TOTL.ZG']:
#         #print(df.isna()['FP.CPI.TOTL.ZG'][b][0])
#     #    if df.isna()['FP.CPI.TOTL.ZG'][b][0] == True:
#     #        break

#     inflation_list2 = [df[j][0] for j in df.columns]
#     stdd = stdev(inflation_list)
#     dfnew.loc[i,'stand'] = stdd
#     #print(i)

In [411]:
dfnew

       stand
iso3c
ABW      NaN
AFG      NaN
AGO      NaN
ALB      NaN
AND      NaN
...      ...
XKX      NaN
YEM      NaN
ZAF      NaN
ZMB      NaN
ZWE      NaN

[218 rows x 1 columns]

In [295]:
stdev(inflation_list)

13.307942954712484

### 3. نرخ بهره واقعی

### 4. نوسانات نرخ ارز

### 5. رشد اقتصاد

In [2]:
def cleaning_cal(df):
    df = df.unstack().reset_index()
    df.columns = ['name', 'inflation']
    df.set_index('name', inplace=True)
    
    country_name = wb.get_countries()
    country_name['name2'] = country_name.name
    country_name = country_name.set_index('name')
    country_name = country_name[country_name.incomeLevel != "Aggregates"]
    
    
    df = df.join(country_name, how='inner').drop(list(df.join(country_name, how='inner').columns[1:]), axis = 1).dropna()
    sort_df = df.sort_values('inflation', ascending=False)
    
    max_10 = sort_df.iloc[0:10]
    min_10 = sort_df.iloc[-10:]
    
    mean_max = max_10.mean()
    mean_min = min_10.mean()
    
    iran_df=df[df.index == 'Iran, Islamic Rep.']
    output =  abs(((mean_min - iran_df)) / (mean_max - mean_min) * 100).iloc[0][0]
    return output

In [76]:
df = wb.download(country='all',indicator= "NY.GDP.MKTP.KD.ZG", start=2016 ,end = 2020)

In [77]:
df = df.unstack().reset_index()

In [11]:
df.columns = ['country', 2016, 2017, 2018, 2019 , 2020]

In [16]:
df['ave'] = df.mean(axis = 1)

In [ ]:
df = df[['country','ave']]

In [ ]:
df.set_index('country', inplace=True)

In [55]:
df.head()

                  ave
country
Guyana      12.163098
Ethiopia     8.046905
Guinea       8.022770
Bangladesh   6.784645
Tajikistan   6.700000

In [49]:
country_name = wb.get_countries()
country_name['name2'] = country_name.name
country_name = country_name.set_index('name')
country_name = country_name[country_name.incomeLevel != "Aggregates"]

In [69]:
df = df.join(country_name, how='inner').drop(list(df.join(country_name, how='inner').columns[1:]), axis = 1).dropna().sort_values('ave', ascending=False)

In [70]:
df

                         ave
Guyana             12.163098
Ethiopia            8.046905
Guinea              8.022770
Bangladesh          6.784645
Tajikistan          6.700000
...                      ...
Curacao            -5.338493
Lebanon            -5.591924
Congo, Rep.        -5.600490
Equatorial Guinea  -6.318553
Macao SAR, China   -8.150904

[206 rows x 1 columns]

In [73]:
max_10 = df.iloc[0:10]
min_10 = df.iloc[-10:]

mean_max = max_10.mean()
mean_min = min_10.mean()

iran_df=df[df.index == 'Iran, Islamic Rep.']
output =  abs(((mean_min - iran_df)) / (mean_max - mean_min) * 100).iloc[0][0]
print(output)

53.160515642277225

In [75]:
print(max_10)
print("")
print(min_10)
print("")
print(mean_max)
print("")
print(mean_min)
print("")
print(iran_df)
print("")
print(output)

                     ave
Guyana         12.163098
Ethiopia        8.046905
Guinea          8.022770
Bangladesh      6.784645
Tajikistan      6.700000
Myanmar         6.517411
Turkmenistan    6.300000
Ireland         6.159278
Vietnam         6.004423
Cote d'Ivoire   5.923834

                                ave
Palau                     -3.021607
Barbados                  -3.340434
Trinidad and Tobago       -3.524695
Sint Maarten (Dutch part) -3.966667
Yemen, Rep.               -4.564824
Curacao                   -5.338493
Lebanon                   -5.591924
Congo, Rep.               -5.600490
Equatorial Guinea         -6.318553
Macao SAR, China          -8.150904

ave    7.262236
dtype: float64

ave   -4.941859
dtype: float64

                         ave
Iran, Islamic Rep.  1.545901

53.160515642277225

### 5. رشد اقتصاد

In [ ]:
BX.KLT.DINV.WD.GD.ZS