In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [29]:
df_base = pd.read_excel('/Users/saeed/Dropbox/Sharif Business Think Thank/خصوصی سازی/شرکت‌های مورد بررسی.xlsx',sheet_name=1)

In [3]:
df_base.head(8)

,ردیف,نام شرکت,نام نماد,سال آخرین صورت مالی,سال خصوصی شده,لینک,Unnamed: 6,سود (زيان) خالص,سود (زيان) عملياتي,مبلغ فروش,...,جمع حقوق مالکانه,جمع پرسنل,سود (زیان) انباشته,جمع بدهی‌ها,بدهی‌های بلند مدت,گردش مقداری فروش,مواد اولیه,هزینه نیروی کار,هزینه استهلاک,هزینه انرژی
0,1.0,آلومینیوم ایران (ایرالکو),فایرا,1399.0,1397,https://codal.ir/ReportList.aspx?search&Symbol...,,15702755.0,16632380.0,69373546.0,...,28277313.0,3401.0,17357417.0,20890809.0,2883819.0,43289469.0,37958139.0,2497102.0,477286.0,2371845.0
1,NaN,آلومینیوم ایران (ایرالکو),فایرا,1398.0,NaN,NaN,NaN,5318936.0,6886233.0,38377998.0,...,13616424.0,3310.0,7910973.0,18190925.0,2271248.0,29883606.0,24069618.0,1909611.0,457147.0,2035171.0
2,NaN,آلومینیوم ایران (ایرالکو),فایرا,1397.0,NaN,NaN,NaN,5268182.0,6963895.0,28003445.0,...,8768240.0,2645.0,3338033.0,13689710.0,2266366.0,21612936.0,17034549.0,1444634.0,451232.0,1857597.0
3,NaN,آلومینیوم ایران (ایرالکو),فایرا,1396.0,NaN,NaN,NaN,689352.0,1222929.0,14597394.0,...,3500058.0,2796.0,-1758145.0,10371124.0,2303645.0,9918804.0,5430512.0,1257579.0,372571.0,1738562.0
4,4.0,پالایش نفت تبریز,شبریز,1399.0,1390,https://codal.ir/ReportList.aspx?search&Symbol...,,55677801.0,57541469.0,358665256.0,...,73421898.0,808.0,58834677.0,21158209.0,4085113.0,311173654.0,301016233.0,950507.0,802925.0,511879.0
5,NaN,پالایش نفت تبریز,شبریز,1398.0,NaN,NaN,NaN,10047996.0,12782070.0,258119406.0,...,24908323.0,678.0,10284171.0,13739904.0,3921712.0,237977735.0,236475450.0,545086.0,895573.0,491641.0
6,NaN,پالایش نفت تبریز,شبریز,1397.0,NaN,NaN,NaN,16945144.0,20546523.0,171496684.0,...,24182434.0,694.0,13075081.0,17763310.0,2929904.0,150689088.0,155171573.0,458965.0,670945.0,1094088.0
7,NaN,پالایش نفت تبریز,شبریز,1396.0,NaN,NaN,NaN,4301205.0,7539783.0,82017675.0,...,8402553.0,626.0,2378743.0,21483173.0,3153754.0,72795593.0,85043092.0,481886.0,456668.0,444294.0

In [30]:
df_base = pd.DataFrame(df_base.iloc[0:8])

In [31]:
list(pd.read_excel('/Users/saeed/Dropbox/Sharif Business Think Thank/خصوصی سازی/شرکت‌های مورد بررسی.xlsx',sheet_name=1).columns)

['ردیف',
 'نام شرکت',
 'نام نماد',
 'سال آخرین صورت مالی',
 'سال خصوصی شده',
 'لینک',
 'Unnamed: 6',
 'سود (زيان) خالص',
 'سود (زيان) عملياتي',
 'مبلغ فروش',
 'درصد تغییر سود نسبت به سال قبل',
 'نرخ تورم',
 'جمع دارایی\u200cها',
 'جمع حقوق مالکانه',
 'جمع پرسنل',
 'سود (زیان) انباشته',
 'جمع بدهی\u200cها',
 'بدهی\u200cهای بلند مدت',
 'گردش مقداری فروش',
 'مواد اولیه',
 'هزینه نیروی کار',
 'هزینه استهلاک',
 'هزینه انرژی',
 'آخرین وضعیت سرمایه',
 'اورده نقدی',
 'تحقیق و توسعه']

In [32]:
df_base.iloc[3,13]

3500058.0

In [7]:
#for i in range(0,len(df_base.columns)-1):
#    for j in range(0,len(df_base.index)):
#        if df_base.iloc[:,i][j]

In [33]:
df_base

,ردیف,نام شرکت,نام نماد,سال آخرین صورت مالی,سال خصوصی شده,لینک,Unnamed: 6,سود (زيان) خالص,سود (زيان) عملياتي,مبلغ فروش,...,جمع بدهی‌ها,بدهی‌های بلند مدت,گردش مقداری فروش,مواد اولیه,هزینه نیروی کار,هزینه استهلاک,هزینه انرژی,آخرین وضعیت سرمایه,اورده نقدی,تحقیق و توسعه
0,1.0,آلومینیوم ایران (ایرالکو),فایرا,1399.0,1397,https://codal.ir/ReportList.aspx?search&Symbol...,,15702755.0,16632380.0,69373546.0,...,20890809.0,2883819.0,43289469.0,37958139.0,2497102.0,477286.0,2371845.0,5197831.0,4431909.0,0.0
1,NaN,آلومینیوم ایران (ایرالکو),فایرا,1398.0,NaN,NaN,NaN,5318936.0,6886233.0,38377998.0,...,18190925.0,2271248.0,29883606.0,24069618.0,1909611.0,457147.0,2035171.0,5197831.0,4431909.0,793422.0
2,NaN,آلومینیوم ایران (ایرالکو),فایرا,1397.0,NaN,NaN,NaN,5268182.0,6963895.0,28003445.0,...,13689710.0,2266366.0,21612936.0,17034549.0,1444634.0,451232.0,1857597.0,5197831.0,4431909.0,570924.0
3,NaN,آلومینیوم ایران (ایرالکو),فایرا,1396.0,NaN,NaN,NaN,689352.0,1222929.0,14597394.0,...,10371124.0,2303645.0,9918804.0,5430512.0,1257579.0,372571.0,1738562.0,5197831.0,4431909.0,0.0
4,2.0,پالایش نفت تبریز,شبریز,1399.0,1390,https://codal.ir/ReportList.aspx?search&Symbol...,,55677801.0,57541469.0,358665256.0,...,21158209.0,4085113.0,311173654.0,301016233.0,950507.0,802925.0,511879.0,3884211.0,6115789.0,0.0
5,NaN,پالایش نفت تبریز,شبریز,1398.0,NaN,NaN,NaN,10047996.0,12782070.0,258119406.0,...,13739904.0,3921712.0,237977735.0,236475450.0,545086.0,895573.0,491641.0,3884211.0,6115789.0,0.0
6,NaN,پالایش نفت تبریز,شبریز,1397.0,NaN,NaN,NaN,16945144.0,20546523.0,171496684.0,...,17763310.0,2929904.0,150689088.0,155171573.0,458965.0,670945.0,1094088.0,3884211.0,6115789.0,0.0
7,NaN,پالایش نفت تبریز,شبریز,1396.0,NaN,NaN,NaN,4301205.0,7539783.0,82017675.0,...,21483173.0,3153754.0,72795593.0,85043092.0,481886.0,456668.0,444294.0,3884211.0,6115789.0,0.0

In [34]:
names = ['نام شرکت',
 'سود (زيان) خالص',
 'سود عملیاتی نسبت به فروش',
 'سودآوری نسبت به تورم',
 'سود خالص نسبت به مجموع دارایی\u200cها',
 'سود خالص نسبت به حقوق صاحبان سهام',
 'سود خالص نسبت به فروش',
 'سود خالص نسبت به تعداد کارکنان',
 'سود (زیان) انباشته به حقوق صاحبان سهام',
 'نسبت بدهی کل به دارایی کل',
 'نسبت بدهی\u200cهای بلندمدت به حقوق صاحبان سهام',
 'نسبت ارزش افزوده به کل داده با کسر مصارف واسطه',
 'نسبت ارزش افزوده به هزینه کل نیروی کار',
 'نسبت ارزش افزوده به هزینه استفاده از سرمایه',
 'نسبت ارزش افزوده به هزینه انرژی مصرف\u200cشده',
 'نسبت ارزش افزوده به هزینه مواد اولیه',
 "میزان افزایش سرمایه بنگاه از محل آورده نقدی (درصد) نسبت به سرمایه پیشین",
 'میزان افزایش فروش مقداری (تناژ یا تعداد) بنگاه نسبت به زمان واگذاری',
 "نسبت هزینه‌های تحقیق و توسعه به کل هزینه‌ها"
        ]
names

['نام شرکت',
 'سود (زيان) خالص',
 'سود عملیاتی نسبت به فروش',
 'سودآوری نسبت به تورم',
 'سود خالص نسبت به مجموع دارایی\u200cها',
 'سود خالص نسبت به حقوق صاحبان سهام',
 'سود خالص نسبت به فروش',
 'سود خالص نسبت به تعداد کارکنان',
 'سود (زیان) انباشته به حقوق صاحبان سهام',
 'نسبت بدهی کل به دارایی کل',
 'نسبت بدهی\u200cهای بلندمدت به حقوق صاحبان سهام',
 'نسبت ارزش افزوده به کل داده با کسر مصارف واسطه',
 'نسبت ارزش افزوده به هزینه کل نیروی کار',
 'نسبت ارزش افزوده به هزینه استفاده از سرمایه',
 'نسبت ارزش افزوده به هزینه انرژی مصرف\u200cشده',
 'نسبت ارزش افزوده به هزینه مواد اولیه',
 'میزان افزایش سرمایه بنگاه از محل آورده نقدی (درصد) نسبت به سرمایه پیشین',
 'میزان افزایش فروش مقداری (تناژ یا تعداد) بنگاه نسبت به زمان واگذاری',
 'نسبت هزینه\u200cهای تحقیق و توسعه به کل هزینه\u200cها']

In [35]:
df = pd.DataFrame(np.nan, index=df_base.index, columns=names)
#df

In [11]:
from tabulate import tabulate

In [28]:
df.loc[:, 'نام شرکت'] = df_base.loc[:, 'نام شرکت']
df.loc[:, 'سود (زيان) خالص'] = df_base.loc[:, 'سود (زيان) خالص']

df['سود عملیاتی نسبت به فروش'] = df_base["سود (زيان) عملياتي"] / df_base['مبلغ فروش']
df['سودآوری نسبت به تورم'] = \
((((1 + df_base['درصد تغییر سود نسبت به سال قبل']/100) \
                     / (1 + df_base["نرخ تورم"]/100)
                     )-1)*100).round(2)

df['سود خالص نسبت به مجموع دارایی‌ها'] = df_base['سود (زيان) خالص'] / df_base['جمع دارایی\u200cها']
df['سود خالص نسبت به حقوق صاحبان سهام'] = df_base['سود (زيان) خالص'] / df_base['جمع حقوق مالکانه']
df['سود خالص نسبت به فروش'] = df_base['سود (زيان) خالص'] / df_base['مبلغ فروش']
df['سود خالص نسبت به تعداد کارکنان'] = df_base['سود (زيان) خالص'] / df_base['جمع پرسنل']
df['سود (زیان) انباشته به حقوق صاحبان سهام'] = df_base["سود (زیان) انباشته"] / df_base['جمع حقوق مالکانه']
df['نسبت بدهی کل به دارایی کل'] = df_base['جمع بدهی‌ها'] / df_base['جمع دارایی‌ها']
df['نسبت بدهی‌های بلندمدت به حقوق صاحبان سهام'] = df_base["بدهی‌های بلند مدت"] / df_base['جمع حقوق مالکانه']
# ارزش‌افزوده => df_base['گردش مقداری فروش'] - df_base['مواد اولیه']
df['نسبت ارزش افزوده به کل داده با کسر مصارف واسطه'] = (df_base['گردش مقداری فروش'] - df_base['مواد اولیه']) / df_base["مبلغ فروش"]
df['نسبت ارزش افزوده به هزینه کل نیروی کار'] = (df_base['گردش مقداری فروش'] - df_base['مواد اولیه']) / df_base["هزینه نیروی کار"]
df['نسبت ارزش افزوده به هزینه استفاده از سرمایه'] = (df_base['گردش مقداری فروش'] - df_base['مواد اولیه']) / df_base["هزینه استهلاک"]
df["نسبت ارزش افزوده به هزینه انرژی مصرف‌شده"] = (df_base['گردش مقداری فروش'] - df_base['مواد اولیه']) / df_base["هزینه انرژی"]
df['نسبت ارزش افزوده به هزینه مواد اولیه'] = (df_base['گردش مقداری فروش'] - df_base['مواد اولیه']) / df_base['مواد اولیه']
df['میزان افزایش سرمایه بنگاه از محل آورده نقدی (درصد) نسبت به سرمایه پیشین'] = df_base['اورده نقدی'] / df_base['آخرین وضعیت سرمایه']
df['نسبت هزینه\u200cهای تحقیق و توسعه به کل هزینه\u200cها'] = df_base[""]
df

,نام شرکت,سود (زيان) خالص,سود عملیاتی نسبت به فروش,سودآوری نسبت به تورم,سود خالص نسبت به مجموع دارایی‌ها,سود خالص نسبت به حقوق صاحبان سهام,سود خالص نسبت به فروش,سود خالص نسبت به تعداد کارکنان,سود (زیان) انباشته به حقوق صاحبان سهام,نسبت بدهی کل به دارایی کل,نسبت بدهی‌های بلندمدت به حقوق صاحبان سهام,نسبت ارزش افزوده به کل داده با کسر مصارف واسطه,نسبت ارزش افزوده به هزینه کل نیروی کار,نسبت ارزش افزوده به هزینه استفاده از سرمایه,نسبت ارزش افزوده به هزینه انرژی مصرف‌شده,نسبت ارزش افزوده به هزینه مواد اولیه,adjusted-inf,adjusted_inf
0,آلومینیوم ایران (ایرالکو),15702755.0,0.239751,116.21,0.317228,0.555313,0.226351,4617.099383,0.613828,0.422037,0.101983,0.076850,2.135007,11.170095,2.247756,0.140453,NaN,116.21
1,آلومینیوم ایران (ایرالکو),5318936.0,0.179432,-25.00,0.167223,0.390626,0.138593,1606.929305,0.580988,0.571909,0.166802,0.151493,3.044593,12.717983,2.856757,0.241549,NaN,-25.00
2,آلومینیوم ایران (ایرالکو),5268182.0,0.248680,486.87,0.234580,0.600825,0.188126,1991.751229,0.380696,0.609571,0.258474,0.163494,3.169237,10.146415,2.464683,0.268771,NaN,486.87
3,آلومینیوم ایران (ایرالکو),689352.0,0.083777,177.22,0.049697,0.196954,0.047224,246.549356,-0.502319,0.747674,0.658173,0.307472,3.568994,12.046810,2.581612,0.826495,NaN,177.22
4,پالایش نفت تبریز,55677801.0,0.160432,306.13,0.588684,0.758327,0.155236,68908.169554,0.801323,0.223707,0.055639,0.028320,10.686319,12.650523,19.843402,0.033744,NaN,306.13
5,پالایش نفت تبریز,10047996.0,0.049520,-55.95,0.259986,0.403399,0.038928,14820.053097,0.412881,0.355512,0.157446,0.005820,2.756051,1.677457,3.055654,0.006353,NaN,-55.95
6,پالایش نفت تبریز,16945144.0,0.119807,202.54,0.403978,0.700721,0.098807,24416.634006,0.540685,0.423483,0.121158,-0.026137,-9.766507,-6.680853,-4.097006,-0.028887,NaN,202.54
7,پالایش نفت تبریز,4301205.0,0.091929,20.61,0.143922,0.511893,0.052442,6870.934505,0.283098,0.718844,0.375333,-0.149328,-25.415760,-26.819263,-27.566204,-0.144015,NaN,20.61

In [13]:
df = df.round(3)

In [14]:
# def color_negative_red(val):
#     """
#     Takes a scalar and returns a string with
#     the css property `'color: red'` for negative
#     strings, black otherwise.
#     """
#     color = 'red' if val < 0 else 'black'
#     return 'color: % s' % color

# df.iloc[:,1:].style.applymap(color_negative_red)